.git
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.egg-info
.env
.venv
venv
tests
examples
*.md
!README.md
blpapi_python/venv
blpapi_python/.git
blpapi_python/.claude
blpapi_python/examples
blpapi_cpp/doc
blpapi_cpp/examples
